



#girl{
  background: url("../img/bg.svg")no-repeat
center/cover;
  h1{
    font-weight: 600;
    font-size: 44px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 50px;
  }
  .girl{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
      width: 100%;
    }
    &--title{
      p{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        padding-bottom: 100px;
      }
      h2{
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        padding-bottom: 30px;
        flex: none;
        order: 1;
        flex-grow: 0;
      }
      h5{
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.44px;
        color: #FFFFFF;
      }
    }
  }

}